* { 
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f19ddf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.form-box {
    background-color: #f50eb0;
    padding: 25px;
    border-radius: 10px;
}

.form-box h1 {
    font-size: 22px;
    text-align: center;
}

.form-box label {
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
    color: #2b2828;
}

.form-box input[type="text"],
.form-box input[type="number"],
.form-box input[type="datetime-local"],
.form-box input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-box button {
    width: 100%;
    padding: 12px;
    background-color: #5ddd61;
    border: none;
    border-radius: 5px;
    color: rgb(63, 6, 46);
    font-size: 18px;
    cursor: pointer;
    
}

@media (max-width: 900px) {
    .form-box {
        max-width: 450px;
        padding: 20px;
        background-color: #8719d1;
    }

}
@media only screen and (max-width: 1199px) {
        body {
        background-color: rgb(54, 241, 210);
    }
